{{extend 'layout.html'}}
<div style="min-height:550px;padding:20px;background:#f2f2f2;"/>

<h2 align="center">VixenServer&reg; Downloads</h2>
<h4 style="color:#919191;margin-top:-10px;" align="center">Essential Tools</h4>
<ol>
    <li><b>Google Chrome</b> for <a href="{{=URL(c='static', f='client/google-chrome-stable_current_amd64.deb')}}">Linux</a> 
    or 
    <a href="{{=URL(c='static', f='client/22.0.1229.94_chrome_installer.exe')}}">Windows</a> <small style="color:grey">version 22.0.1229.94</small></li>
    <p>
    Vixen Server's client side is totally web based and optimized with Google Chrome web browser. <br/>This version is stable. If you are using another browser, we strongly recommend you to use Chrome with Vixen Server.
    </p>
    <li><a href=""><b>Vixen</b> For Maya&trade;</a> <small style="color:grey">version 0.9.1</small></li>
    <p>
    Vixen for Maya is a Maya&trade; plug-in to manage your scene files. for more information, visit <a href="http://vixen.alwaysdata.net">Vixen Official Website</a>.<br/>It has also tools to connect with Vixen Server and send scene data to this server.
    </p>
</ol>
</div>
